/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

//Spacing tabs
$spaceamounts: (
	"0": 0,
	"xs": 1,
	"s": 2,
	"m": 4,
	"l": 8,
	"xl": 16,
);

//Colors
$color-primary: #55c57a;
$color-primary-dark: #28b485;
$color-primary-light: #7ed56f;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

//Font sizes
$default-font-size: 1.6rem;

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
